body {
    background-color: rgb(248, 248, 248);
    animation-name: blurIn;
    animation-duration: 1.5s;
}

#main {
    font-size: 110%;
    font-weight: 300;
    padding-bottom: 0.5em;

    color: black;
    white-space: pre-wrap;
    font-size: 100%;
}

.title {
    text-align: center;
    font-size: 200%;
    font-weight: 300;
    margin-top: 0;
    padding-top: 1em;

    padding-bottom: 0.5em;
    margin: 0 auto;
    width: 70%;
}

.author {
    text-align: right;
    color: var(--theme);
}

#home:hover, #preview:hover {
    filter: brightness(10%);
}

#home {
    z-index: 1000009;

    position: fixed;
    top: 0.5em;
    left: 0.5em;
    font-weight: 200;

    color: lightgray;

    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;

    text-decoration: none;
}

#preview {
    z-index: 1000009;

    position: fixed;
    top: 0.5em;
    right: 0.5em;
    font-weight: 200;

    color: lightgray;

    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;

    margin-top: 0;
}

.contenteditable {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.contenteditable:focus {
    border-bottom: solid var(--theme) 1px;
}

.large-contenteditable:focus {
    border: solid var(--theme) 1px;
}

#preview-cover {
    background-color: rgba(255, 255, 255, 0.7);

    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#preview-cover.hidden {
    opacity: 0;
    pointer-events: none;
}

#preview-cover > div {
    background-color: white;
    margin: 0 auto;
    width: 70%;
    height: 98%;
    box-shadow: lightgray 0 0 1px 1px;
    margin-top: 2%;

    padding: 0 1em;
}