html, body {
    overflow: hidden;
}

#cards {
    height: 95%;
    margin-top: 2.5%;
    position: absolute;

    transition: 0.5s;
    -webkit-transition: 0.5s;

    width: 700vw;
}

.card {
    float: left;
    height: 95%;
    display: block;
    background-color: white;
    box-shadow: var(--theme) 0 0 1px 1px;
    width: 86vw;
    margin: 0 7vw;

    z-index: 100;
}

.card .title {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.card .description {
    margin: 0 5em;
    text-align: center;
}

.card p.input {
    font-weight: 200;
    font-size: 100%;
}

.card a {
    display: inline;
    color: var(--theme);
    font-weight: 500;
    text-decoration: none;

    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.card a:hover {
    filter: brightness(200%);
}

.card .input {
    width: 80%;
    margin: 0 auto;
    padding: 0.2em 0;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    color: black !important;

    max-height: 95%;
    overflow-y: scroll;
}

.card .flex-remaining {
    height: 100%;
    position: relative;
}

.card .flex-column {
    height: 100%;
}

#arrow-left {
    left: 3.5vw;

    transform: translate(-50%, -50%) rotate(180deg);
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
}

#arrow-right {
    left: 96.5vw;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#arrow-left, #arrow-right {
    position: absolute;
    top: 50%;

    width: 2em;
    height: 2em;

    background-color: var(--theme);
    border-radius: 50%;

    z-index: 50;
    transition: 0.5s;
    -webkit-transition: 0.5s;

    cursor: pointer;

    box-shadow: white 0px 0px 1px 0px;
}

#arrow-left:hover, #arrow-right:hover {
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
}

#arrow-left::after, #arrow-right::after {
    content: '';
    position: absolute;

    width: 1em;
    height: 1em;

    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);

    background-color: white;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 25% 100%, 75% 50%, 25% 0);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 25% 100%, 75% 50%, 25% 0);

    z-index: 50;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#arrow-left.grey, #arrow-right.grey {
    opacity: 0;
    pointer-events: none;
}

#md-html {
    text-align: left;
}

#alert {
    position: fixed;
    width: 60vw;
    height: 50vh;
    background-color: white;
    box-shadow: lightgray 0 0 1px 1px;

    transition: 0.5s;
    -webkit-transition: 0.5s;

    z-index: 999999999999999999;
}

#alert.hidden {
    opacity: 0;
    pointer-events: none;
}

#bg {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -10;
}

@media only screen and (max-width: 700px) {
    .card .title {
        font-size: 8vw;
    }
    
    .card {
        width: 98vw;
        margin: 0 1vw;
    }
    
    #arrow-left, #arrow-right {
        top: 98vh !important;
    }
    
    #arrow-left {
        left: 40vw;
    }
    
    #arrow-right {
        left: 60vw;
    }
}
